body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

body,
.quote,
.quotee,
.ad,
.ad-text h2,
.ad-text p {
    margin: 0;
}

.header-wrapper,
button,
a,
.footer,
.ad-text h2,
.ad-text p {
    color: #E5E7EB;
    font-size: 18px;
}

h1,
h2 {
    color: #F9FAF8;
}


.header-wrapper,
.footer {
    background: #1F2937;
}

h1 {
    width: 420px;
    font-size: 48px;
}

h2 {
    font-size: 24px;
}

.header-wrapper {
    display: flex;
    padding: 8px 200px;
    height: 550px;
    justify-content: space-around;
}

.header-left,
.header-right {
    display: flex;
    flex-direction: column;
}

.header-left,
.hero-text {
    width: 500px;
}

.header-logo {
    display: flex;
    justify-content:flex-start;
}

.header-text {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: left;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: baseline;
    gap: 24px;
}

a {
    text-decoration: none;
}

button {
    background: #3882F6;
    border: none;
    border-radius: 1rem;
    padding: 8px 32px;
    font-weight: bold;
    cursor: pointer;
}

.info-wrapper {
    height: 550px;
    align-items: center;
}

.info-header {
    display: flex;
    font-size: 36px;
    font-weight: extra-bold;
    justify-content: center;
    margin-bottom: 32px;
}

.info-columns {
    display: flex;
    justify-content: center;
    gap:48px;
    text-align: center;
}

.col,
.col img {
    width: 200px;
}

.col img {
    border: 4px solid #3882F6;
    border-radius: 0.5rem;
    height: 200px;
}

.quote-wrapper {
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: #1F2937;
    background:#E5E7EB;
}

.quote,
.quote-body {
    width: 800px;
}

.quote-body {
    display: flex;
    font-family: cursive;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.quotee {
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-self: flex-end;
}

.ad-wrapper {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}


.warning {
    width: 150px;
    height: 150px;
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
}

.ad {
    background: red;
    width: 1000px;
    margin: 0;
    display: flex;
    align-items: center;
}


.ad-text h2 {
    font-size: 24px;
}

.ad-text {
    width: 500px;
    height: 200px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.ad-button {
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 1em;
    padding: 0px;
    background: rgb(15, 206, 31);
}

.ad-button button {
    font-weight: bold;
    background: none;
    padding: 4px 32px;
    color: black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}